.menu-icon {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  position: fixed;
  z-index: 1000;
  right: 50px;
  top: 30px;
  cursor: pointer;
  background-color: var(--black);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: var(--white);
  margin-bottom: 4px;
  transition: transform 0.2s ease, background-color 0.5s ease;
}
.menu-icon.menu_active .menu-icon__line-up {
  background-color: var(--white);
  transform: rotate(-45deg) translate(-3px, 3px);
}
.menu-icon.menu_active .menu-icon__line-down  {
  background-color: var(--white);
  transform: rotate(45deg);
}
.nav-content{
  height: 100%;
  position: fixed;
  left: 100% ; top: 0px; bottom: 0px;
  z-index: 50;
  background-color: var(--white);
  font-size: calc(2vw + 7px);
  transition:.5s ease;
}
.nav-content.menu_active{
  left: 0px ; top: 0px; bottom: 0px; right: 0px;
}
.nav-content .nav__list{
  height: 100vh;
  padding: 0px 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  list-style: none;
  position: relative;
}
.nav__list-item a{
  color: var(--black);
  transform: translateY(100px);
  font-weight: 500;
}
.nav__list-item.menu_active a{
  color: var(--black);
  transform: translateY(0px);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav__list-item{
  opacity: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__list-item.menu_active{
  opacity: 1;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}
.nav__list-item:hover{
  transition: all 0.3s ease;
  opacity: 0.7;
  padding: 0px 48px;
}
.theme-cta{
  position: fixed;
  right: 50px;
  top: 30px;
  height: 66px;
  width: 66px;
  border-radius: 100%;
  z-index: 999;
  border: 2px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(0px);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.theme-cta::before{
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 12px 0px 0 0 var(--black);
  transform: translateX(-12px);
}
.theme-cta.menu_active{
  transform: translateX(-130%);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.smlinks{
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3%;
}
.smlinks a{
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}