
.menu-icon{
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-wrapper{
  position: fixed;
  z-index: 1000;
  right: 50px;
  top: 30px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: var(--black);
  margin-bottom: 4px;
  position: relative;
  /* transition: transform 0.2s ease, background-color 0.5s ease; */
}
.menu-icon.menu_active .menu-icon__line-up {
  background-color: var(--black);
  top: 3px;
  transition: top 0.4s ease;
}
.menu-icon.menu_active .menu-icon__line-up {
  transform: translate(0, 3px) rotate(-45deg);
  transition: transform 0.3s ease 0.2s;
}

.menu-icon.menu_active .menu-icon__line-down {
  top: -3px;
  transition: top 0.4s ease;
}
.menu-icon.menu_active .menu-icon__line-down {
  transform: translate(0, 3px) rotate(45deg);
  transition: transform 0.3s ease 0.2s;
}
.nav-wrapper {
  height: 100vh;
  position: fixed;
  inset: 0px;
  transform: translateY(-100%);
  z-index: 50;
  background-color: var(--white);
  font-size: 4rem;
  transition: 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  display: flex;
  justify-content: space-between;
  padding: 0px 3rem;
  letter-spacing: -0.02rem;
  pointer-events: none;
}
.nav-wrapper.menu_active {
  pointer-events: all;
  transform: translateY(0px);
}
.menu-resume-svg {
  margin-left: 1rem;
  height: 2.4rem;
}
.resume-cta {
  align-items: center;
}
.nav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3rem;
}
.nav__list-item a {
  color: var(--black);
  transform: translateY(100px);
  font-weight: 500;
}
.nav__list-item.menu_active a {
  color: var(--black);
  transform: translateY(0px);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav__list-item {
  opacity: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
  margin-bottom: 1rem;
}
.nav__list-item.menu_active {
  opacity: 1;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav__list-item:hover {
  transition: all 0.3s ease;
  opacity: 0.7;
}
.theme-cta {
  width: 42px;
  height: 16px;
  border-radius: 100px;
  background-color: var(--black);
  padding: 6px;
  cursor: pointer;
  transition: all 0.3s ;
  position: relative;
}
.theme-cta::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: #fafafa;
  transition: all 0.3s;
}
.theme-cta.dark{
  background-color: var(--blue);
}
.theme-cta.dark::before{
  transform: translateX(26px);
}

.smlinks{
  display: flex;
  gap: 10px;
}

.smlinks a{
  color: var(--black);
  transition: 0.3s cubic-bezier (0.075 0.82, 0.165, 1);
}

.smlinks a:hover {
  color: var(--blue);
}
/* media queries  */
@media screen and (width <= 1024px) {
  .menu-icon{
    display: flex;
  }
}

@media screen and (width <= 720px) {
  .nav__list .nav__list-item {
    font-size: 3rem;
  }
  .menu-resume-svg {
    height: 2rem;
  }
}

@media screen and (width <= 690px) {
  .nav-wrapper {
    padding: 0px 2rem;
  }
  .nav-content {
    padding: 0px;
    gap: 2rem;
  }
}

@media screen and (width <= 530px) {
  .menu-wrapper{
    right: 32px;
  }
}

@media screen and (width <= 430px) {
  .nav__list .nav__list-item {
    font-size: 36px;
    margin-bottom: 1rem;
  }
  .menu-resume-svg {
    height: 21px;
  }
}

