@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Poppins', sans-serif; */
html {
  --primary-font: "Plus Jakarta Sans","Nohemi", "sans serif";
  --secondary-font: "Spline Sans Mono", "monospace";
  --white: #ffffff;
  --black: #050505;
  --black-03: #282828;
  --black-04: #383838;
  --black-06: #585858;
  --white-06: #a5a5a5;
  --white-07: #efefef;
  --white-08: #f6f6f6;
  --blue: #6da9f7;
  --blue-second: #d7e1f0;
  --yellow: #ebab23;
  --green: #52df11;
  --primary-gradient: linear-gradient(60deg, #302DCB, #651CE3 );
  transition: all 0.5s ease;
  scroll-behavior: smooth;
  --letter-spacing: -0.045em;
}
html.second{
  --white: #050505;
  --black: #ffffff;
  --black-03: #efefef;
  --black-04: #222222;
  --black-06: #aaaaaa;
  --white-06: #282828;
  --white-07: #181818;
  --white-08: #121212;
  --black-08: rgba(0, 0 , 0 , 0.2);
}
::selection{
  color: #000;
  background-color: pink;
}
::-webkit-scrollbar{
  background-color: transparent;
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: var(--white);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(145, 145, 145);
  width: 8px;

}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: var(--primary-font);
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
}
button{
  font-family: var(--primary-font);
}
img{
  pointer-events: none;
}
.container {
  background-color: var(--white);
  color: var(--black);
}
.devinfo{
  display: grid;
  row-gap: 2.4rem;
  background-color: var(--white);
  padding: 3rem 6rem;
}
.devinfo header{
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
}
.name {
  color: var(--black);
  font-size: calc(32px + 2vw);
  font-weight: 500;
  line-height: 140% ;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  user-select: none;
  position: relative;
}

.highlight::before{
  content: "";
  position: absolute;
  height: 4px;
  top: 90%;
  animation: slide 0.5s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000);
}
@keyframes slide {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
.highlight.hg1::before{
  background-color: var(--blue);
  animation-delay: 1s;
}
.highlight.hg2::before{
  background-color: var(--yellow);
  animation-delay: 1.2s;
}
.word{
  clip-path: polygon(0 0, 120% 0, 120% 120%, 0% 120%);
  transform: translateY(120%);
}

.line {
  clip-path: polygon(0 0, 120% 0, 120% 120%, 0% 120%);
}
.ctas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.cta {
  background: var(--black);
  padding: 16px 32px;
  color: var(--white);
  border: 1px solid var(--white-06);
  border-radius: 42px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
  font-size: 0.86rem;
  transition: 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.primary-cta:hover , .primary-cta:active{
  background-color: var(--white);
  color: var(--black);
}

.contact-cta{
  padding: 24px 32px;
  font-size: 1.1rem;
}
.secondary-cta{
  background: var(--white);
  color: var(--black);
}
.secondary-cta:hover, .secondary-cta:active{
  background-color: var(--white-07);
}
.email-view{
  padding: 16px;
  width: fit-content !important;
}

.abtcontainer{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.abt-head{
  display: flex;
  gap: 48px;
}
.abtcontainer h4 {
  font-size: 42px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: var(--letter-spacing);
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  user-select: none;
}
h1.abt-h1, h1.proj-h1, h1.skill-h1, h1.exp-h1{
  color: var(--black);
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  user-select: none;
}
img.abt-img{
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
strong.abt-strong{
  color: var(--black);
  font-size: calc(2vw + 10px); 
  font-weight: 700;
}
strong.abt-strong > span{
  display: block;
  font-size: calc(9vw + 14px);
  margin-bottom: 1rem;
  line-height: 110%;
  letter-spacing: var(--letter-spacing);
}
.abt-p-container{
  display: grid;
  grid-template-areas:
  ". top-area top-area top-area .        .        .       "
  ". .        .        .        mid-area mid-area mid-area"
  ". mid-area2 mid-area2 mid-area2 .        .        .       "
  ". .        .        .        btm-area btm-area btm-area";
  row-gap: 6rem;
}

p.abt-p{
  color: var(--black);
  font-size: 18px;
  line-height: 180%;
  width: 60%;
  font-family: var(--primary-font);
  opacity: 0.7;
}

.contact-sec{
  background-color: #050505;
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
}
.contact-sec .cta{
  background-color: #ffffff;
  color: #050505;
}
.contact-sec .cta:hover, .contact-sec .cta:active{
  background-color: #050505;
  color: #ffffff;
}
.contact-head{
  width: 50%;
}
.contact-head strong{
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
}
.contact-head p{
  color: #ffffff;
  margin-top: 1rem;
  opacity: 0.4;
}
input{
  background-color: var(--white-07);
  width: 40ch;
  border: none;
  color: var(--black);
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  outline: none;
  padding: 14px 40px 14px 14px;
  margin: 4px 12px;
  transition: all 0.4s ease;
}
input::placeholder{
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
input:focus{
  background-color: var(--white-06);
}
.submit-cta{
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.submit-cta span{
  display: inline-block;
  height: 4px;
  width: 2em;
  color: var(--black);
  background-color: var(--black);
  transition: 0.5s ease;
}
.submit-cta:hover span, .submit-cta:active span {
  width: 0.4em;
}
input[type="submit"] {
  width: auto;
  padding: 0;
  background-color: transparent;
  color: var(--black);
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 600;
}
.wrapper1 {
  height: 100vh;
  margin: auto;
  padding: 0px 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.devinfo1{
  width: 100%;
  display: flex;
  gap: 3rem;
}
.wrapper2{
  width: auto;
}
h1.contact {
  color: var(--black);
  width: 100%;
  font-size: 3.5rem;
  line-height: 100%;
  font-family: var(--primary-font);
  -webkit-user-select: none;
  user-select: none;
}

p.contact-p{
  color: var(--black);
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
}

