h1.abt-h1,
h1.proj-h1,
h1.skill-h1,
h1.exp-h1 {
  color: var(--black);
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  user-select: none;
}
.head-email-box {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  width: 24ch;
}
.head-email-box > a {
  position: relative;
  display: grid;
}
#head-email {
  position: absolute;
  top: 100%;
  text-decoration: underline;
}
.head-email-box:hover > a {
  transform: translateY(-100%);
}
