
#surprise-txt-temp{
  font-family: var(--handwriting-font);
  font-weight: 400;
  font-size: 20px;
  width: 12ch;
  position: absolute;
  right: 12rem;
  top: 6rem;
  transform: rotate(-24deg);
}
#surprise-txt-temp > i{
  position: relative;
  transform: rotate(32deg);
  right: -56px;
  top: -24px;
}
.container {
  background-color: var(--white);
  color: var(--black);
}
.devinfo {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: var(--white);
}

h1.abt-h1,
h1.proj-h1,
h1.skill-h1,
h1.exp-h1 {
  color: var(--black);
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  user-select: none;
}
.head-email-box {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  width: 24ch;
}
.head-email-box > a {
  position: relative;
  display: grid;
}
#head-email {
  position: absolute;
  top: 100%;
  text-decoration: underline;
}
.head-email-box:hover > a {
  transform: translateY(-100%);
}

.name + p{
  color: var(--white-05);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  width: 40ch;
}