@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  --primary-font: "Plus Jakarta Sans","Nohemi", "sans serif";
  --secondary-font: "Spline Sans Mono", "monospace";
  --white: #fafafa;
  --black: #050505;
  --white-03: #181818;
  --white-04: #383838;
  --white-05: #585858;
  --white-06: #a5a5a5;
  --white-07: #efefef;
  --white-08: #f6f6f6;
  --blue: #3180e7;
  --blue-hover: #1357af;
  --blue-second: #d7e1f0;
  --yellow: #ebab23;
  --green: #52df11;
  --primary-gradient: linear-gradient(60deg, #302DCB, #651CE3 );
  transition: all 0.5s ease;
  scroll-behavior: smooth;
  --letter-spacing: -0.025em;
  letter-spacing: -0.025em;
}
html.second{
  --white: #050505;
  --black: #fafafa;
  --white-03: #f6f6f6;
  --white-04: #efefef;
  --white-05: #a5a5a5;
  --white-06: #585858;
  --white-07: #383838;
  --white-08: #181818;
  --black-08: rgba(0, 0 , 0 , 0.2);
}
::selection{
  color: #000;
  background-color: pink;
}
::-webkit-scrollbar{
  background-color: transparent;
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: var(--white);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(68, 68, 68);
  width: 8px;

}
* {
  margin: 0px;
  padding: 0px;
  transition: 0.2s;
}
body {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  display: flex;
  color: inherit;
}
button{
  font-family: var(--primary-font);
  outline: none;
}
img{
  pointer-events: none;
}
.container {
  background-color: var(--white);
  color: var(--black);
}
.devinfo{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  background-color: var(--white);
}
.title-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  gap: 2rem;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  background-color: var(--white);
  color: var(--black);
}
.title-bar span a:hover{
  color: var(--blue);
}
.name {
  color: var(--black);
  font-size: calc(84px + 2vw);
  font-weight: 800;
  line-height: 100% ;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  user-select: none;
  position: relative;
}
.name + p {
  font-size: 2rem;
  font-weight: 600;
  width: 20ch;
}
.word{
  clip-path: polygon(0 0, 120% 0, 120% 120%, 0% 120%);
  transform: translateY(120%);
}

.line {
  clip-path: polygon(0 0, 120% 0, 120% 120%, 0% 120%);
}
.ctas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.cta {
  cursor: pointer;
  background: var(--black);
  padding: 16px 32px;
  color: var(--white);
  border: 1px solid var(--white-06);
  border-radius: 42px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
  font-size: 0.86rem;
  transition: 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.primary-cta:hover , .primary-cta:active{
  background-color: var(--white-08);
  color: var(--black);
}

.contact-cta{
  padding: 24px 32px;
  font-size: 1.1rem;
  background-color: #fafafa;
  color: #050505;
}
.contact-cta:hover, .contact-cta:active{
  background-color: #181818;
  color: #fafafa;
}
.secondary-cta{
  background: var(--white);
  color: var(--black);
}
.secondary-cta:hover, .secondary-cta:active{
  background-color: var(--white-08);
}
.faded-p{
  color: var(--black);
  font-size: 18px;
  line-height: 180%;
  width: 60%;
  font-family: var(--primary-font);
  opacity: 0.7;
}
h1.abt-h1, h1.proj-h1, h1.skill-h1, h1.exp-h1{
  color: var(--black);
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  user-select: none;
}
.contact-sec{
  background-color: #050505;
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-head{
  width: 50%;
}
.contact-head strong{
  color: #fafafa;
  font-size: 3rem;
  font-weight: 600;
}
.contact-head p{
  color: #fafafa;
  margin-top: 1rem;
  opacity: 0.4;
}
/*Contact.html*/
input{
  background-color: var(--white-07);
  width: 40ch;
  border: none;
  color: var(--black);
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  outline: none;
  padding: 14px 40px 14px 14px;
  margin: 4px 12px;
  transition: all 0.4s ease;
}
input::placeholder{
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
input:focus{
  background-color: var(--white-06);
}
.submit-cta{
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.submit-cta span{
  display: inline-block;
  height: 4px;
  width: 2em;
  color: var(--black);
  background-color: var(--black);
  transition: 0.5s ease;
}
.submit-cta:hover span, .submit-cta:active span {
  width: 0.4em;
}
input[type="submit"] {
  width: auto;
  padding: 0;
  background-color: transparent;
  color: var(--black);
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 600;
}
.wrapper1 {
  height: 100vh;
  margin: auto;
  padding: 0px 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.devinfo1{
  width: 100%;
  display: flex;
  gap: 3rem;
}
.wrapper2{
  width: auto;
}
h1.contact {
  color: var(--black);
  width: 100%;
  font-size: 3.5rem;
  line-height: 100%;
  font-family: var(--primary-font);
  -webkit-user-select: none;
  user-select: none;
}

p.contact-p{
  color: var(--black);
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
}

